[2018-01-05 01:56] billmalarky opened #1 "Update README.md job options"
The readme job options sections needs updated to tell default setting

[code]

Defaults to 1

[2018-01-05 18:57] billmalarky commented on #1
https://github.com/billmalarky/react-native-queue/commit/d817021dcf5e3d2867273441c127cda673df706c

[2018-01-05 18:57] #1 closed

[2018-01-21 21:20] daku opened #2 "Eventual crash even though job completed successfully"
Sorry I have not investigated a lot yet, but it looks like the timeout logic for successful jobs maybe getting executed. Since the job is no longer there, the crash happens. Again just a guess by briefly looking at `Worker.js` and `Queue.js` and because the crash does not happen immediately. I usually have to wait around the timeout time for it to happen.

![screen shot 2018-01-21 at 1 15 02 pm](h

[2018-01-22 00:12] billmalarky commented on #2
Thank you, I will investigate this further!

On Sun, Jan 21, 2018, 1:20 PM Akshay Dua <notifications@github.com> wrote:

[2018-01-23 14:33] rexxars opened #3 "Abstract storage implementation?"
Hi,

This project looks like exactly the thing I need for a bunch of things I've been wanting to do. I tried including it in a project, but it seems Realm has a known issue where debugging JS remotely in react native fails on Android (see for instance https://github.com/realm/realm-js/issues/562).

I was wondering how closely this project is tied to Realm, and whether or not you could achieve the

[2018-01-23 15:14] billmalarky commented on #3
Realm was chosen for persistence because the queue requires transaction
support for several reasons. Due to this requirement AsyncStorage cannot be
used (I put a fair amount of thought into  trying to come up with a
workaround but in order to touch the queue asynchronously in parallel -
such as via the UI thread and a worker thread or throwing jobs on the queue
asynchronously - transactions must b

[2018-01-23 20:34] rexxars commented on #3
Thanks for the background and thorough explanation.
It's unfortunately pretty much impossible to use it as it is, since we really do need to debug the apps. I had a quick look for realm alternatives, but there's nothing that comes close to how easy it is to set up :/

[2018-01-26 19:40] billmalarky commented on #2
I am out of office until Monday when I can tackle it next. Can you copy
paste any errors you receive? Especially with the line of code the error is
thrown on?

On Fri, Jan 26, 2018, 5:46 AM Mick <notifications@github.com> wrote:

[2018-01-27 06:14] aacxg opened #4 "what is the difference between worker and job?"
what is the difference between worker and job?

[2018-01-27 12:32] rexxars commented on #4
A worker is the function that handles jobs of a given type.

For example, if you were to make a queue that downloads files, you would have a worker that did the actual HTTP request and stored the file on the device, while jobs contain the details of the download - the URL that should be downloaded, for instance.

[2018-01-28 22:37] billmalarky commented on #4
Yep, the "worker" is just a function that is executed every time a "job" is
pulled off the queue and processed.

A simple way to understand it (though not a perfect analogy) is think of
jobs as objects in an array of job objects (the array acting as a simple
"queue" in our basic analogy).

Then if you ran a forEach() on that array of job objects, the worker in
this analogy is the function you pass

[2018-01-29 18:02] #4 closed

[2018-01-29 18:11] billmalarky commented on #2
I'm struggling to recreate this. @Cumquat which advanced example did you see it on?

@daku , could it be some bad jobs were created during your development and you need to flush the queue in order to start with a clean slate once your development wraps up?

try

`
queue.flushQueue();
// Then check that all the jobs have been deleted like so
const jobs = await queue.getJobs(true);
console.log(jobs.

[2018-01-29 19:03] daku commented on #2
@billmalarky thank you for looking into it. I can reproduce this after a full uninstall/install of the app on both platforms (ios and android). The db should be empty at that point, I am guessing. I will try to do what you said and see what happens though.

My perspective on the solution was that when the job is deleted, any pending timeouts need to be cancelled as well. I believe that isn't happe

[2018-01-29 20:43] billmalarky commented on #3
@rexxars do you mind doing a rapid install of react-native-queue into your project and quickly throwing up a test worker and some example jobs then trying remote debugging?

I used chrome remote debugging for console logging etc when I was building this and performance was never a problem.

I also just fired up the workspace app I used to build react-native-queue and set up a bunch of debugging br

[2018-01-29 20:50] rexxars commented on #3
I'm afraid it's even worse than that - even without actually _using_ the queue for anything, the app simply hangs on startup. Something like a minute before it actually kicks off and continues. Realm does do a bunch of weird things, like attempting to contact the remote debugging server over the 4G (public) IP, so it might just be that it's trying to connect to an incorrect IP and eventually times

[2018-01-29 23:09] billmalarky commented on #2
@daku You were correct.

The bug exists in the job timeout logic found in [Worker.executeJob()](https://github.com/billmalarky/react-native-queue/blob/master/Models/Worker.js#L85-L109).

The timeout promise code always executes (as expected), this planned behavior is generally benign because Worker.executeJob() returns Promise.race() which returns the first promise in the race to resolve or reject

[2018-01-29 23:20] billmalarky commented on #3
That's so weird, I've run this queue on simulated iOS/Android as well as on an actual android device and have never run into this problem. What version of react-native are you on if you don't mind me asking? That problem seems so glaring that I'd imagine just about everyone would report it, but I've only heard about it from some people, and I know that a fair amount of projects are already using r

[2018-01-29 23:25] rexxars commented on #3
I'm on 0.52.1

[2018-01-29 23:41] daku commented on #2
@billmalarky thank you for the explanation! Your solution sounds great, as long as job data is not accessed if the job does not exist then we most likely will not see this error.

[2018-01-31 21:28] billmalarky commented on #2
Ok this is patched, thank you for your help guys!

https://github.com/billmalarky/react-native-queue/pull/5

[2018-01-31 21:28] #2 closed

[2018-02-01 17:45] daku commented on #2
Thank you! I'll test it out as soon as I can.

On Jan 31, 2018 1:28 PM, "Reid Mayo" <notifications@github.com> wrote:

Ok this is patched, thank you for your help guys!

#5 <https://github.com/billmalarky/react-native-queue/pull/5>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/billmalarky/react-native-queue/issues/2#issuec

[2018-02-06 08:46] DiMoNTD opened #6 "Can't install with error MSB8020: The build t ools for v141 (Platform Toolset = 'v141') cannot be found"
I can't install this library. I have such error:

[code]

I tried all methods to install MSBuildTools:
- installed library [windows-build-tools](https://github.com/felixrieseberg/windows-build-tools)
- installed separatly [Visual C++ Build Tools](http://landinghub.visualstudio.com/visual-cpp-build-tools)

But error don't gone.
What I need to do, to install this library?

OS: Win 10
NodeJS: v7.6.0

[2018-02-13 23:22] daku opened #7 "Existing jobs fail if there is a dangling job in the database"
Output below. I am not sure how I ended up in this state, but I used to have a `jobPublishLocation` and I don't have it anymore. However, this failure was happening when I was trying to run a different `jobPublishPost`.

After uninstalling/installing my app the error went away.

[code]

[2018-02-14 20:19] billmalarky commented on #7
If you have old jobs you can flush them much easier than doing a full reinstall by simply calling

[code]

or in your case,

[code]

Link to code doc: https://github.com/billmalarky/react-native-queue/blob/master/Models/Queue.js#L381

I'm going to close this, as the intended functionality is to throw error and fail if a job is pulled off the queue that has no worker assigned to it. I really don't

[2018-02-14 21:14] daku commented on #7
the issue wasn't that I pulled a job that had no worker assigned, the issue
was that I pulled a job that *had* a worker assigned and still saw the
error for a different job. I agree that the former scenario should not fail
silently, but to crash an app because there is any dangling job in the DB
might be too aggressive in a production environment (when our app gets
there).

On Feb 14, 2018 12:19 P

[2018-02-14 21:42] daku commented on #7
thanks for the debugging tips!

[2018-02-15 18:04] billmalarky commented on #7
Hmm, I'm definitely seeing your point. Perhaps it should console.error() instead of throw fatal error.

That way it will redbox in dev environment, which would serve to alert engineering and force them to fix the issue, but silently fail in production.

Or, even better, what are your thoughts on catching all errors that occur in the library, and then emitting them off the queue object? This is wha

[2018-02-16 06:22] daku commented on #7
wow, this is a great idea (kue error handling). Especially if I can distinguish between different error types: job failures, db errors, library errors, etc. That way, I can dispatch relevant redux actions to update the UI. I have been thinking about how to notify users if a job failed after all retry attempts, I wonder if this can help address that...

[2018-03-07 17:29] billmalarky commented on #7
Just fyi, I looked into this again and with the current logic if a job is pulled off the queue and doesn't have a worker assigned to it it really does break the queue logic so I'm going to keep that fatal thrown error (recall we had discussed using console.error or console.warn to silently error in prod).

was that I pulled a job that *had* a worker assigned and still saw the
error for a different

[2018-03-07 19:23] daku commented on #7
Thank you so much for looking into this. `onComplete` sounds like a great
idea, along with the other callbacks. Taking it in the call to `addWorker`
should work very well I think.

- Akshay

On Wed, Mar 7, 2018 at 9:29 AM, Reid Mayo <notifications@github.com> wrote:

[2018-03-25 10:28] DiMoNTD commented on #6
Closing issue.
I  have updated nodejs to version 8.9.4, and now it's ok

[2018-03-25 10:28] #6 closed

[2018-03-29 02:26] laurisaarni opened #9 "A bug in Realm js version crashes the app when using remote debugger."
Please see the issue https://github.com/realm/realm-js/issues/1711.

Using realm version 2.2.15 fixes the bug.

[2018-03-29 15:56] billmalarky commented on #9
Looks like that may not resolve it.

https://github.com/realm/realm-js/issues/1711#issuecomment-377091874

[2018-03-30 02:11] saarnilauri commented on #9
@billmalarky In my case, I had a dependency to Realm in my package.json and to react-native-queue when I changed mine and react-native-queue to use 2.2.15 the problem was gone. I'm not sure if the user claiming it did not work had a similar use case.

[2018-04-13 19:02] billmalarky commented on #7
Daku,

Thanks for your feedback.

The job lifecycle callback functionality has now been added via this PR:

https://github.com/billmalarky/react-native-queue/pull/14

Functionality now exists in react-native-queue version 1.2.0, and the new functionality has been published to npm.

For more info on the new functionality, take a look here:

https://github.com/billmalarky/react-native-queue#options-

[2018-04-13 19:02] #7 closed

[2018-04-13 23:36] daku commented on #7
Thank you, this is great!

[2018-04-18 17:04] billmalarky opened #15 "Indefinite job Timeout is broken"
As discovered by @daku, jobs set to have no timeout are actually timing out in 25 seconds as setting job timeout to 0 (ie no timeout) ends up getting overridden with the default job timeout value of 25000 milliseconds.

More info:

https://github.com/billmalarky/react-native-queue/pull/13
https://github.com/billmalarky/react-native-queue/pull/11

[2018-04-18 18:25] billmalarky commented on #15
Resolved with https://github.com/billmalarky/react-native-queue/pull/16

Published to NPM as version 1.2.1.

[2018-04-18 18:25] #15 closed

[2018-04-20 11:34] juliancorrea commented on #9
About this issue, see this: https://github.com/facebook/react-native/issues/11989#issuecomment-314111441

**The commit that solve the problem is:** https://github.com/realm/realm-js/pull/1744/files/aed0fa5cd97db9d19b6951815f369ff943d82d20 e was merged on master.

However, there is no release with it, so I've change the file _realm/lib/browser/index.js_ until a new release.

Its necessary change th

[2018-04-20 11:43] juliancorrea commented on #3
@rexxars I posted in another issue in this repo (https://github.com/billmalarky/react-native-queue/issues/9) a workaround for it. The correction was done in realms(master), but there is no release yet.
Many devs are discussing this issue in: https://github.com/realm/realm-js/issues/1711

[2018-04-23 10:43] veris-amoghbanta opened #17 "Invalid Session ID"
It seems that only a single session of realm can be used at a time. So, If I try to open a new realm schema, it gives an error saying "Invalid Session ID". Does that mean that realm cannot be used in parallel with react-native-queue?

[2018-04-23 16:15] billmalarky commented on #17
According to Realm js docs, it is perfectly acceptable to have multiple realms open at any given time. React Native Queue does not use the default realm, it uses a realm named "reactNativeQueue.realm".

What I'm thinking the issue could be, is perhaps your app's main realm package is a different version from the package that was installed as a dependency for react-native-queue.

What happens if yo

[2018-04-24 09:26] veris-amoghbanta commented on #17
Seems to be a mismatch of realm versions. The version that react-native-queue installs is latest(2.3.4) which is unstable(doens't work with remote debugging on). So I fixed the version in this [fork](https://github.com/DigiCred/react-native-queue) but on installing from the fork, node-modules are not downloaded inside react-native-realm node-module and react-native realm doesn't create "reactNativ

[2018-04-24 09:40] veris-amoghbanta commented on #17
**Update:** Deleting react-native-queue realm dependency package in node_modules does the trick, but that is more of a hack/work-around that needs to be done every time node modules are updated.

[2018-04-25 19:32] maxhalty commented on #9
Hi Guys! do you know when the next release will be? We really need this fix and for now we are commenting the line but that's not a good fix for our team.

[2018-04-26 09:06] mahesh-vidhate opened #18 "App show White screen after importing react-native-queue"
When I import this library using,
`import queueFactory from 'react-native-queue';`
The app shows nothing on screen, not even on the console. App gets stopped.
I have installed this library using npm and also has linked to `realm`.

[2018-04-26 16:05] billmalarky commented on #18
No errors are thrown?

Can you share some example code? If it is proprietary/closed source just
"anonymize" it for purposes of an example.

On Thu, Apr 26, 2018, 5:06 AM mahesh-vidhate <notifications@github.com>
wrote:

[2018-04-27 19:56] billmalarky commented on #17
So if I update package.json to set the realm dependency version explicitly to "2.2.15" that will resolve the issue so long as the user rm's node_modules and then runs yarn again correct?

[2018-04-27 20:04] billmalarky commented on #9
@saarnilauri To be clear, if I explicitly set the realm dependency in package.json to "2.2.15" as in the PR below (I'll increment the patch version directly on master) this should resolve the issue to your knowledge (assuming people nuke node_modules [and yarn lockfile] and rerun yarn or npm install)?

https://github.com/billmalarky/react-native-queue/pull/19

[2018-04-27 20:16] billmalarky commented on #9
Realm is on 2.4.0 now, is this still even an issue?

[2018-05-03 12:09] xinhash opened #20 "How to upload offline images using queue"
Hi, Thanks for this wonderful plugin. Although I've hit a roadblock ( may not be plugin issue)

I wanted to push clicked Images to queue and upload these when connected to internet.
[code]
and the Upload Image is a function which basically returns
[code]
Upon logging this I get following error:
[code]
I want to know how does a worker know that job has been completed. Basically if I am able to do t

[2018-05-04 07:40] xinhash commented on #20
I made some changes and now the Job is failing when unable to upload Image. If I want the job to stay alive and retry. Please suggest me the same. Also is there any way to access failed jobs ( or are they flushed out from the queue upon failure ).

[2018-05-04 11:50] #20 closed, assigned to nobody

[2018-05-04 11:51] xinhash commented on #9
Use this ``adb logcat *:S ReactNative:V ReactNativeJS:V BackgroundTask:V`` to log and debug

[2018-05-04 16:24] billmalarky commented on #20
There is currently no way to retry jobs that have failed completely. The best way is to use the "onFailed" job lifecycle callback to simply create a new job. If your jobs are failing that much though you probably have a more fundamental issue.

Thank you for the compliment on the plugin :-)

[2018-05-25 10:25] tmoubarak opened #21 "[Question] Would it be possible to make it work with joltup/react-native-threads"
Hi Bill,

I think what you have done here is really useful!

I want to ask you if it is possible to use  react-native-threads: https://github.com/joltup/react-native-threads for background processing since it seems to be better maintained than the workers.

Please let me know if it is possible... In parallel I will be trying to set it up as well.
Thank you in advance!,
Tarek M.

[2018-05-25 16:51] billmalarky commented on #21
Hello Tarek,

Almost certainly. React Native Queue is designed to be agnostic and able to integrate with basically anything. It's a standalone task management solution. In fact, it actually doesn't even have any dependencies on React Native even, you could use this queue in any js environment Realm will work in. That said I built it specifically because there was a need for something like this in

[2018-05-25 16:51] #21 closed, assigned to nobody

[2018-05-27 20:39] tmoubarak commented on #21
Thank you very much for your swift reply!!

[2018-05-27 20:45] billmalarky commented on #21
For sure! Hope it helped.

[2018-06-05 09:34] Rohan17177 opened #22 "TypeError null is not an object (evaluating this.state.queue.createJob)"
i want to make download queue but while i use react-native queue it throws me an error  here is my code
`import React from "react";
import { Text, View, StyleSheet, PermissionsAndroid, ToastAndroid, Image, ScrollView, AsyncStorage } from "react-native";
import RNFS from 'react-native-fs';
import { connect } from 'react-redux';
import { GetDownloads, GetDownloadsList } from '../../actions/DownloadA

[2018-06-05 11:24] #22 closed, assigned to nobody

[2018-06-08 07:56] fatfatson opened #23 "what's the meaning of timeout of job?"
for the example in the `Basic Usage` in homepage,
timeout job is still executing,
so what's meaning of timeout?

[2018-06-08 09:14] fatfatson commented on #23
and i don't know when  a job will be considered `Fail`? since there's no method for marking a job is success or fail...
if a fail is only due to the timeout, then what's the meaning of attempts? all the retry will still fail.

[2018-06-08 14:00] #23 closed, assigned to nobody

[2018-06-08 15:46] billmalarky commented on #23
The purpose of job timeouts are to make sure a job doesn't hang unexpectedly and block the queue.

Yes the "abondoned" long running job handler will continue to run in the background until it is completed or killed naturally (this is a limitation of JavaScript that can't be overcome currently) even after a job has been marked as failed due to timeout, but that is an acceptable outcome so long as y

[2018-06-08 15:48] billmalarky commented on #23
Not necessarily, there are plenty of situations where a job would take longer than usual to complete so just because it times out one time doesn't mean it won't succeed next time.

The first thing that comes to mind is network congestion. Sometimes a http request will hang and the next time it will resolve instantly. That's just the nature of the internet.

[2018-06-13 16:05] colaskirschoff commented on #17
@billmalarky, yes, as soon as the user removes the node_modules as well as the yarn.lock ! And then a `yarn install` and `react-native link` should do the job.

Actually I decided to fork the repo as well with different versions of realm in the package.json. I tried 2.4.0, 2.2.20, 2.2.15, which always fixes the issue of "Invalid Session ID", but leads to another issue:
<img width="1156" alt="image

[2018-06-13 16:52] billmalarky commented on #17
@colaskirschoff hijacking this thread to let you know I have been trying to respond to you via email and my emails keep getting bounced off your mail server.

My response to you was:

See attached for error I'm getting.

![email-bounce](https://user-images.githubusercontent.com/1856339/41365792-5bd67a9c-6f08-11e8-8dd1-146771723cba.png)

[2018-06-13 18:57] fatfatson commented on #23
thanks @billmalarky
I have misunderstood the timeout prop is the time how long the task should wait for starting.

[2018-06-13 19:01] fatfatson opened #24 "the current executing job is lost when force terminate app(in android)"
if I set a very short timeout for my job for test,
the job will always fail and retry,
but if I terminate the app and restart,
that job has gone! the next job is executing.
is this a bug??

[2018-06-13 19:31] billmalarky commented on #24
If I had to guess the job is stuck in "active" state so it is not being picked up by the queue the next time the queue tries to grab a job off the stack.

See this section of code for the realm query that grabs the next job(s) to process off the queue stack.

https://github.com/billmalarky/react-native-queue/blob/master/Models/Queue.js#L273-L275

The solution, which would have to be developed, wou

[2018-06-13 19:57] fatfatson commented on #24
why not marking all job as `inactive` on startup??
just because the unexpected termination, their state were not reset as normal.

[2018-06-14 03:18] fatfatson commented on #24
@billmalarky
I have add the reset function as my suggestion and it works correctly with force termination.
but there's another problem:
the failed jobs will live in realm forever, what about if their amount grows very fast??

[2018-06-14 11:30] colaskirschoff commented on #17
Thanks for your answer @billmalarky !
I think the issue is actually a debugger issue. Everything's fine until I run the remote debugger. So it's more about realm versus react-native debugger than about your library :)

[2018-06-14 15:20] billmalarky commented on #24
The reset function may work for your specific use case, but it is more
complex than that for a general use case because you have to consider that
multiple RNQ modules can be initialized at once. For example you could be
using RNQ in a periodic background task that runs the same time you are
also using it in a focused app in the foreground.

As you can see with the above described scenario when the

[2018-06-14 15:23] billmalarky commented on #17
Realm has known remote debugger issues. Look around in the other githib
issues in the react native queue repo and also maybe look at realms repo.

I haven't personally run into the issues with remote debugging myself but
others have.

On Thu, Jun 14, 2018, 7:30 AM Colas Kerkhove <notifications@github.com>
wrote:

[2018-06-14 15:36] colaskirschoff commented on #17
Yes I've gone through many issues around this and it seems that it won't be fixed soon.
Thanks anyway :)

[2018-06-16 07:25] fatfatson commented on #24
thanks very much, I have understood the problem. wish for improvings~

[2018-06-16 08:12] giautm commented on #3
I want to use this project with another storage layer (ie Expo’s SQLite). So please abstract the data storage layer

[2018-06-16 17:41] hk4774 opened #25 "Replace new job with previous job with same JOB_TAG"
Is it possible to override the previous job by the new job? I'm using this library to sync data stored in offline with my server. The problem arises when I make a cron for syncing. It reflects duplicate data on the server. For the sake of uniqueness, I'm giving job tag as **"XYZ job_unique id"**. So is there any way to replace the new job with duplicate job tag?

Thanks in advance.

[2018-06-18 14:16] billmalarky commented on #25
Curreo there is no way to delete a job by id. If you are interested in
adding that functionality as a pull request that would be fine. You can see
how it would be done looking at the following section of code.

Make a new public method similar to queue.flushQueue() but have the method
accept a job id and delete on id.

https://github.com/billmalarky/react-native-queue/blob/master/Models/Queue.js

[2018-06-20 05:20] roysG opened #26 "does the queue saved even when the phone is restated?"

[2018-06-20 05:25] roysG opened #27 "Can i change the scheduled time from 15 minutes to 5 minutes?"

[2018-06-20 15:55] billmalarky commented on #26
Yes. All jobs are written to disk and are persisted across phone restarts.

[2018-06-20 15:55] #26 closed, assigned to nobody

[2018-06-20 15:57] billmalarky commented on #27
If you are referring to the background task schedule, the minimum time for cross platform background jobs is 15 minutes. This limit is based on an iOS constraint.

[2018-06-20 15:57] #27 closed, assigned to nobody

[2018-06-20 16:10] roysG commented on #27
So just to be sure i understand,
For example if app is in background and i need to update some action to the specific waiting user, i may update hie after 15 minutes and no immediately, right?

[2018-06-21 13:07] gonglowbat opened #28 "Schedule local notification by calling API every interval"
I saw the example in conjunction with https://github.com/jamesisaac/react-native-background-task.

I would like to implement something I call fake remote push notification. Instead of using real remote push notification, I would like to running a background task every midnight to fetch to some API which return some information to be use in making a local notification. Then, after successfully rece

[2018-06-21 14:27] billmalarky commented on #28
Yes this is absolutely possible so long as it doesn't have to fire at
exactly midnight.

Background tasks can be scheduled as often as every ~15min but they don't
fire exactly on schedule they are approximate.

So just set up a background task that checks if it's after midnight then
fire the API request for the day.

On Thu, Jun 21, 2018, 9:07 AM gonglowbat <notifications@github.com> wrote:

[2018-06-22 05:26] gonglowbat commented on #28
I did some experiments to prove the concept but I still cannot get the example to successfully runs.

I found that iOS background task will not run if the app is manually closed.

- https://developer.apple.com/library/archive/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/BackgroundExecution/BackgroundExecution.html#//apple_ref/doc/uid/TP40007072-CH4-SW7

- https://github.com/jamesisaac/

[2018-06-22 12:44] billmalarky commented on #28
Background tasks require the app to be running. There is no way to get
around that currently and no way to startup app programmatically.

The apps that ship with the OS have access to functionality and permissions
that 3rd party developers do not.

On Fri, Jun 22, 2018, 1:26 AM gonglowbat <notifications@github.com> wrote:

[2018-06-30 22:18] otaviogaiao opened #29 "React-native-queue + react-native-background-upload for a bunch of file uploads"
Hi. I'm using your lib in my new app, and I have some questions that I hope someone here can help me with.

In my app, I have a "sync" routine, where I make many api calls sequencially. Each api call is a file that I'm sending. For that I'm thinking about using react-native-background-upload, since the upload has to continue if the app goes into background.

I'm using your lib to make a queue of f

[2018-07-02 05:46] gonglowbat commented on #28
Thanks for clarification.

As @billmalarky said, background tasks require app to be running. So, in my case, this is not possible and should use remote push notification.

I close this issue.

[2018-07-02 05:46] #28 closed, assigned to nobody

[2018-07-02 15:34] billmalarky commented on #29
sure If I can do that in a job).

You can run any arbitrary code in a job. If a job has to be run in the
background (ie a background task) you will need to bootstrap the app when
the job kicks off in order to update your app database/redux store I
imagine. Which is perfectly fine. The main thing is remember background
tasks are limited to ~30 seconds cross platform so ensure your job can
complete

[2018-07-02 15:35] billmalarky commented on #28
You are correct. It appears remote push notification is the solution for
your use case.
--------------------------------------------
Q: Why is this email five sentences or less?
A: http://five.sentenc.es

On Mon, Jul 2, 2018 at 1:46 AM gonglowbat <notifications@github.com> wrote:

[2018-07-03 09:24] otaviogaiao commented on #29
Nice man, It helped a lot! Thank you so much!

[2018-07-03 10:31] otaviogaiao commented on #29
Oh one more question. Is there any way to tell the queue a job ended? Because the file upload is being made in a service or something like that. So the queue invokes the upload and think its over, so it goes to the next one.

[2018-07-04 13:36] ajangi opened #30 "Problem with linking package react-native-background fetch"
There was always errors when I wanted to use this package but also for the "react-native-background fetch" package while linking the package with the project using react-native link command.
I mean this command :
"react-native link react-native-background-fetch".
Can you help me resolving this issue?
Thanks

[2018-07-04 15:29] billmalarky commented on #29
It sounds like you are making an async call and then not waiting for it to
finish before ending the job.

Make the job handler function an async function then await on your
asynchronous call so the code execution pauses.

Alternatively if you need to check if the upload has finished pricesiyou
will have to implement some sort of polling solution.

If I am interpreting you incorrectly and you just

[2018-07-04 16:47] otaviogaiao commented on #29
Thank you man! I will try that.

[2018-07-04 16:54] billmalarky commented on #29
No prob!

On Wed, Jul 4, 2018, 12:47 PM Otávio Gaião <notifications@github.com> wrote:

[2018-07-23 17:31] sheminusminus commented on #30
@ajangi Are you using pods in your project? We have an issue with linking anything when a podfile exists for some reason. RN adds a podspec path to it, which fails to work 100% of the time, but if we remove the podfile from `ios` directory, then run the link command, then replace the podfile, everything works as intended. (If you try this, remember to delete the podspec line from podfile if it was

[2018-08-01 16:27] billmalarky commented on #27
Background jobs run approximately every 15 minutes. It isn't exact.

[2018-08-27 13:30] colaskirschoff opened #31 "Job stuck in "active" state"
I have a queue of jobs that is started in background whenever there is connexion. It's been three days that one job is stuck in the queue, while more recent jobs were processed without any issue.

{
  "0": {
    "id": "34c7d35c-8c43-48f3-ac17-880029a7d747",
    "name": "place-association",
    "payload": "{\"stopId\":\"576e78b9-fa5b-472f-89e9-5c1e3ace7d7b\"}",
    "data": "{\"attempts\":1}",
    "

[2018-09-03 15:45] TeruyaHaroldo opened #32 "Recover payload of the Jobs"
Hello!

How can I get the payload of each Jobs added?

Thanks!

[2018-09-03 16:06] #32 closed, assigned to nobody

[2018-09-03 20:46] TeruyaHaroldo opened #33 "Cannot use two queues intances"
Hello,

I want to create 2 instancies of Queue, like:

`const queue = await queueFactory();`
`const tempQueue = await queueFactory();`

But the `tempQueue` is not working with `tempQueue.start()`, he do not call my jobs and not print anything in the `log.console` after I call `queue.stop()`.

Is this a bug?

[2018-09-03 22:18] TeruyaHaroldo opened #34 "Problem with stop, createJob them start"
Somebody had problem trying to stop, createJob and finally start?

[2018-09-17 18:34] therealjake commented on #30
@sheminusminus The issue you see with podfiles might be related to this (open) Realm issue:
https://github.com/realm/realm-js/issues/1607

[2018-09-23 17:21] billmalarky commented on #9
Is this still an issue? Realm is on 2.16.1. Can I close this issue?

[2018-09-24 04:18] saarnilauri commented on #9
Fine by me

[2018-09-24 18:54] billmalarky commented on #9
👌

[2018-09-24 18:54] #9 closed

[2018-09-25 07:35] patrickCode opened #35 "How to flush the jobs from the queue or check the status of the queue"
I am using the queue to create some jobs that will be triggered in the background. However, I have a situation where I need to flush all the jobs from the queue (there is some business logic where these jobs become irrelevant in case the user does some action on the UI). How do I flush the jobs from the queue? Is there an API exposed for that?

Also is there a way how I can check the status of the

[2018-09-26 18:25] The0racle commented on #35
I believe there already is an api for that. Take a look [here](https://github.com/billmalarky/react-native-queue/blob/master/Models/Queue.js#L406-L432)

You can use `queue.flushQueue()` or pass a jobName to cancel only those jobs `queue.flushQueue('jobName')`

[2018-10-08 19:53] TeruyaHaroldo opened #37 "Crash iOS in Debug mode when reload (cmd + R)"
Hello!

My application crashes when I use `cmd + R` /  `reload` in debug mode in the iOS system.

Specifications:

[code]

I having the following error:

[code]

Is it happening just with me?

[2018-10-22 09:12] sutefan1 commented on #35
The status of the queue can be checked with [getJobs](https://github.com/billmalarky/react-native-queue/blob/5c45bf92a6c24275feb753cc95366e74c754a956/Models/Queue.js#L210).

[2018-10-23 11:25] sutefan1 commented on #33
+1

[2018-10-23 16:42] patrickCode commented on #35
I believe the above APIs will solve my issue. Closing this issue.

[2018-10-23 16:42] #35 closed, assigned to nobody

[2018-11-03 17:46] carllippert commented on #24
@fatfatson how did you make your reset function?

[2018-11-14 08:33] LyhengTep opened #39 "this._constructor is not a function at new Realm"
this occurs while I was trying to use run queueFactory. Please help

"react": "16.6.1",
 "react-native": "0.57.5",
 "react-native-queue": "^1.2.1"

[2018-11-14 10:11] LyhengTep commented on #39
Found solution!
It worked fine after I changed realm version to 2.16.2

[2018-11-14 10:11] #39 closed, assigned to nobody

[2018-11-14 15:36] billmalarky commented on #39
Awesome!

On Wed, Nov 14, 2018, 5:11 AM LyhengTep <notifications@github.com> wrote:

[2018-11-14 17:38] ingviso opened #40 "Unable to install the package"
Trying to install this package results in error.

I run the command:
sudo yarn add react-native-queue

This results in the following:

[code]

Using npm does not work either. Has anyone else experienced this.
I have
node: v9.8.0
react-native:  0.55.2

[2018-12-05 08:26] lyseiha commented on #31
I have the same problem. It happens whenever i stop queue from processing.

[2018-12-06 04:32] rheilgm commented on #31
`const initialQuery = (queueLifespanRemaining)
        ? 'active == FALSE AND failed == null AND timeout > 0 AND timeout < ' + timeoutUpperBound
        : 'active == FALSE AND failed == null';
`

yeah it only process queue that are not active and will skip those active ones i wonder if changing this query to something like:

`const initialQuery = (queueLifespanRemaining)
        ? 'failed == null

[2018-12-12 08:27] lyseiha opened #41 "Can i put function as payload to the react native queue?"

[2018-12-12 13:58] billmalarky commented on #41
No it only stores objects. Store the data associated with the function call
and then simply pass the data into the instantiated function when the job
runs.

On Wed, Dec 12, 2018, 3:27 AM lyseiha <notifications@github.com> wrote:

[2019-01-02 21:58] juddey opened #42 "Clarification on Background Tasks"
Hello,

Just looking at your lib for queue and upload of images/videos and have a question about what you said in #29:

Does this mean that the upload would need to complete in this timeframe, or is it just that the job in the queue would need to be kicked off? I'm assuming the former but thought I'd check.

In this case, https://github.com/joltup/react-native-threads might be a better choice to w

[2019-01-02 22:12] billmalarky commented on #42
Yes any job that is processed in a background task is limited to at most 30
seconds of execution, so the upload would need to complete during that
time. If you can't complete the upload in that time limit you will have to
get creative. For example you can do something like break the upload into
chunks and reassemble on the backend (ie if a large video file takes 2
minutes to upload then break it u

[2019-01-02 22:32] juddey commented on #42
Wow! Thanks for the speedy, detailed response. I shall close this out now as you've answered my questions and exceeded my expectations with your answer. :100: :star:

[2019-01-02 22:32] #42 closed, assigned to nobody

[2019-01-02 22:56] billmalarky commented on #42
Haha thank you!

On Wed, Jan 2, 2019 at 5:32 PM Justin Lane <notifications@github.com> wrote:

[2019-01-06 05:41] Patrikejane commented on #40
is this issue sorted? Im also getting this error

gyp ERR! node -v v11.5.0
gyp ERR! node-gyp -v v3.8.0

[2019-01-11 14:45] beisert1 commented on #37
We are having a similar issue, has anyone found a solution?

[2019-01-27 05:34] khanakia opened #43 "Does not works when app is minimised or closed."
I am using recursion example. So when the app is minimized or closed the recursion stops. But when i open again it resumes recursion from the last queue where it stopped.

[2019-02-16 13:49] nicemanis commented on #40
The same error appears with:
gyp ERR! node -v v9.5.0
gyp ERR! node-gyp -v v3.6.2

While browsing for solutions, I read that realm (which is a dependency of this package) does not support node v11 (https://github.com/realm/realm-js/issues/2183)

Edit: tried to install it with node -v 10.15.1 and it works

[2019-04-01 10:23] mjm918 commented on #43
+1

[2019-04-05 23:34] cristianocca opened #45 "Still maintained?"
Is this still maintained?

[2019-04-24 04:36] safeer-ahmed opened #47 "Download failed (404)"
Tried running: **npm install --save  react-native-queue**
And getting following warnings:
Using request for node-pre-gyp https download
Tried to download(404): **https://static.realm.io/node-pre-gyp/2.26.1/realm-v2.26.1-node-v67-darwin-x64.tar.gz**
Pre-built binaries not found for realm@2.26.1 and node@11.9.0 (node-v67 ABI, unknown) (falling back to source compile with node-gyp)

And then followin

[2019-05-14 14:55] dileepbolisetti commented on #47
same problem for me any solution pls

[2019-05-20 07:21] Vinoth00795 commented on #43
+1

[2019-06-05 22:12] famousfilm commented on #24
This is **_roughly_** what I did to "reset" things @carllippert but I removed a lot of things that were extraneous to this library so it's probably not exactly how you should implement it.
[code]

... and I run `resetActiveJobs()` when I start up the app.

[2019-06-05 22:14] famousfilm commented on #31
This sounds similar to #24 . @billmalarky explains what's going on there and I posted a rough work-around.

[2019-06-05 22:17] famousfilm commented on #43
I **_think_** this is how it is supposed to work if you don't use something like React Native Background Task. I'd recommend following @billmalarky 's example in the readme - https://github.com/billmalarky/react-native-queue/#os-background-task-full-example - if you want to process when the app is in the background.

[2019-06-27 08:24] Notcracker commented on #47
Same problem, I'm on ubuntu 18.4.2

[2019-06-27 10:00] akammaru commented on #45
I guess at least not regularly.

[2019-06-27 15:07] OB-dev-mobility commented on #29
Hi, I used the same logic of @otaviogaiao, but I can not make the API call sequentially. In fact I want to make the API call sequential.

Could someone clarify that for me? Thanks!!!

[2019-06-27 16:15] OB-dev-mobility commented on #29
ping @billmalarky

[2019-06-28 08:53] OB-dev-mobility commented on #29
ping @otaviogaiao

[2019-07-03 22:38] argenisleon opened #48 "Is there a way to pass a key to encrypt the realm database?"
Hi,

I would like to encrypt the realm db, is there a way to pass an encryption key?

[2019-07-12 07:05] kottamasusaikumar opened #49 "Using queue factory causing error"
queueFactory.then((queue) => { console.log('add workers and jobs here'); });
const queue = await queueFactory();
Both are showing errors when initializing orcalling
<img width="274" alt="Screen Shot 1941-04-21 at 12 33 06 PM" src="https://user-images.githubusercontent.com/36724410/61109015-728c5480-a4a1-11e9-8b17-4a75af561c8e.png">

[2019-07-17 10:55] kottamasusaikumar opened #51 "Cannot find module 'buffer-crc32'"
Showing All Messages
1: Error: Cannot find module 'buffer-crc32'

[2019-07-17 10:56] #49 closed, assigned to nobody

[2019-07-17 10:56] kottamasusaikumar commented on #49
Using Async function issue resolved

[2019-07-26 12:32] anshumanburman commented on #40
@nicemanis Great!!!!!!! it also worked for me. Thanks

[2019-07-27 10:53] anshumanburman opened #52 "unable to integrate in react-native version > 60.4"
i am trying to add this library in react native version 60.4 for android  but it is giving  error. The error is related to realm and when i link the react-native link realm then it says node_package does not have realm. please resolve this issue.

[2019-07-31 08:24] anshumanburman opened #53 "Failed to execute 'open' on 'XMLHttpRequest' Invalid URL."
getting this issue each and every time i tried to find the solution but its worthless. Please tell me any solution. i have to run task in background. I think this library need to be updated with react native v0.60.4 because its last update is 2 years ago.

[2019-08-06 00:59] Li357 commented on #52
I fixed this by installing `realm` as a dependency separately and linking.

[2019-08-18 21:20] SimonErm commented on #45
I am currently working on a new queuing library which is inspired by this one but uses an own native implementation instead of realm. https://github.com/SimonErm/react-native-job-queue

[2019-09-30 12:35] hannojg opened #55 "Only execute job when network is available"
Hey!
Do we have a mechanism to only execute jobs once there is network connectivity? Which also means keeping jobs in the queue as long as the network is unavailable.

I wasn't able to find something from a quick look.
If not, can you point me where I could start implementing @billmalarky

Thank you so much!

[2019-10-02 10:43] simaattar opened #56 "I can't get this library to work"
Hello,
I need to frequently write into a text file, let's say write a timestamp into a file.
But it never works, would you please tell me what I'm doing wrong???
Here is my code:

[code]

[2019-10-04 09:04] maitrungduc1410 commented on #56
Same like you, This library is too old man :), meanwhile RN is too sensitive :-D

[2019-10-18 23:15] sgeier commented on #52
yeah with
1. npm install realm
2. react-native link realm

info Linking "realm" iOS dependency
info iOS module "realm" has been successfully linked
info Android module "realm" is already linked

Ticket can be closed I guess.

[2019-10-20 13:16] geocfu commented on #47
Use the node lts version. This fixed the problem for me.
Remove any old node_modules.
Change version to LTS.
Rebuild the node_modules
Make a clean build, ./gradlew clean
And you will be good to go.

[2019-10-26 19:53] rdgomt opened #57 "Integration with Redux and Sagas"
Hello!

Can I initiate a queue within a redux saga then access queue as state within app components? I need to listen to queue status change.

I want to "build" a queue on app splash with just workers and no jobs, then create jobs when user make certain API calls.

[2019-11-04 08:19] vishgoel007 commented on #55
Hi, did you able to find any solution ?

[2019-11-04 08:40] vishgoel007 opened #59 "Retry delay before processing a job again"
Hello!

Is there any way by which i can delay a job before processing again on failure i.e retry delay ?

[2019-11-04 12:57] hannojg commented on #55
No, but I am still interested in an solution!

[2019-11-04 14:47] vishgoel007 commented on #55
I think we can actually implement that in library but sadly author is not responding at all.

[2019-11-05 01:11] rdgomt commented on #55
I've been trying to implement this functionality using @react-native-community/netinfo. I'll let you know if I get this done.

[2019-11-05 03:02] rdgomt commented on #24
Any improvements?

In my case, this functionality is very important because I want all jobs to get complete even if the user closes app/restarts phone/etc.

For now, @famousfilm implementation has worked. Thank you.

[2019-11-05 07:51] vishgoel007 commented on #55
@rdgomt  Is there any solution for this [issue](https://github.com/billmalarky/react-native-queue/issues/59) too.

[2019-11-17 09:32] vishgoel007 commented on #55
@rdgomt If you haven't implemented that functionality yet, can you guide my how can i do this?
I'm thinking about using [rxjs](https://github.com/ReactiveX/RxJS) for that.

[2019-11-17 14:13] gruffT commented on #55
You can impliment this outside of the library. Add a NetInfo listener and start / stop the queue on network state change.
`    NetInfo.addEventListener(state => {
      if (state.isInternetReachable) {
        logger.log('Network connection up, starting queue.');
        this.queue.start();
      } else {
        logger.log('Network connection down, stopping queue.');
        this.queue.stop();

[2019-11-17 14:15] gruffT commented on #52
Note, realm only supports Node 8 & Node 10 right now.
Switching to node 10 for my project fixed an install issue on iOS.

[2019-11-18 12:22] rdgomt commented on #55
@vishgoel007 I don't know rxjs, but you can use either [NetInfo](https://github.com/react-native-community/react-native-netinfo) directly or [react-native-offline](https://github.com/rgommezz/react-native-offline).

[2019-11-22 12:26] abdullahoday710 opened #60 "How do i make job persistent ?"
i have followed the job chain example in the docs but when i close the app when the job is processing and reopen the app the queue won't start where it left off ( i made sure that i called queue.start() )

[2019-11-23 11:00] #60 closed, assigned to nobody

[2020-01-07 12:06] #57 closed, assigned to nobody

[2020-02-05 09:47] lyseiha opened #62 "is the plugin still maintain?"

[2020-02-15 11:07] gruffT commented on #59
Just in case it helps you, I've created a pr for this:
[#63](https://github.com/billmalarky/react-native-queue/pull/63)  .
Fork [here](https://github.com/gruffT/react-native-queue/tree/retrydelay?files=1).

[2020-02-15 11:12] gruffT commented on #52
Further to this, if using pods on iOS, running "yarn install" or "yarn add" breaks the pod install for realm.
You need to clear out the pod cache and reinstall to make it work again.

Also, no need to manually link when auto linking is available.

[2020-02-15 11:24] gruffT commented on #33
I'd have to double check but I would think this is due to the under lying realm database having a fixed name and hence file store. A second queue would try and connect to the same realm instance as the first, with obvious issues!

You could fork and make the ability to specify a realm name/file which would help you. Funnily enough, that seems to be baked in to the database file but not exposed thr

[2020-02-15 15:27] vishgoel007 commented on #59
@gruffT How does this work? Do i need to pass retryDelay props in queue with some time(seconds/milliseconds?).

[2020-02-17 10:08] gruffT commented on #59
That's correct. Pass in the job options via createJob  alongside timeout,
priority etc.. Set parameter retryDelay to the required delay in ms.

Good luck

On Sat, 15 Feb 2020, 15:28 vishal goel, <notifications@github.com> wrote:

[2020-03-07 17:02] byteab opened #64 "I just need to send geo location when app is in foreground and background. do I need to install react-native-background-task alongside of this library"

[2020-03-18 17:35] jstnbchnn opened #65 "Queue and App instance of Realm: Invalid instance ID"
I've set up an example repo:

https://github.com/jstnbchnn/rn-invalid-session

The issue seems to be a mix of Realm, react-native-queue, and debugging the app.
Commenting out the lines in `App.js` that has to do with react-native-queue will allow the app to work fine.

[2020-03-30 12:31] sshanzel commented on #52
Same happens for me using RN 0.61.5

[2020-05-19 12:17] tastyqbit commented on #21
Hi! I can't seem to get this working. In the example, all the thread code is in the same file. Is that what the instruction is and if so where does the path to the worker point?

It seems as though react-native-threads is not working with realm as realm doesn't support multiprocess applications. I confirmed this by installing the react-native-threads example, confirmed it worked and then installed

[2020-07-02 10:39] vishgoel007 commented on #52
@sgeier Did you install any specific version of Realm or latest one ?

[2020-07-02 12:44] vishgoel007 commented on #52
@sshanzel Did you able to solve it ?

[2020-07-22 11:39] yairopro commented on #45
@billmalarky
2 years nothing on github.

~~Maybe he's dead... 😢~~

EDIT: It's alive ! 🧟‍♂️ (I've got an email from the the owner)

[2020-08-06 18:09] wkarimvd commented on #7
i have face the same issue and resolved it after spending 3 days hitting my head on the table. There was very silly bug in my worker id. I created workers manually but I create my job dynamically, there was a space in my worker id; which i saved in my local storage.
Example :
queue.addWorker("create-user", aync ({ id, payload }) => { //code goes here } ); // it is fine
problem was here
this.state.

[2021-03-19 17:36] zendevil opened #71 "Error when installing with npm"
I'm installing the react native queue library like so:
npm install --save react-native-queue. But I'm getting the following error:

[code]

For some reason during the installation I'm getting these 16 errors.

How to fix this?

[2021-04-28 12:31] ziyaddin commented on #71
What is your Node version?

[2021-06-15 08:00] roldev commented on #71
I have the same issue:
`node -v > v15.11.0`

`npm -v > 7.16.0`

[2021-08-10 16:59] mensonones commented on #71
this lib work only node 10

[2021-08-14 18:07] mohd-aidi commented on #40
my node is v12.13.0 but still cannot install using yarn.

[2021-09-24 19:41] jspizziri commented on #62
@billmalarky, there is still a good amount of interest in this package. Would you be open in bringing on new maintainers?

[2021-09-24 19:44] billmalarky commented on #62
I would be, I've been very busy with work but yes I would be.

On Fri, Sep 24, 2021, 2:41 PM Jacob Spizziri ***@***.***>
wrote:

[2021-09-24 19:47] jspizziri commented on #62
@billmalarky , thanks for the response.

How would you like to select potential maintainers?

[2021-09-27 16:12] iBotPeaches commented on #62
We still heavily use this plugin internally and Realm has been our biggest issue with the changing ecosystem. The plugin still is hooked to 2, but we are on 6 and even 10 looks quite tempting.

I think whatever you decide. Folks should take the same amount of care and effort of a good testing/ci process to ensure no regressions and document how Realm and these dependencies are involved together.

[2021-10-11 23:04] adbalits opened #83 "Job lifecycle always leads to `onFailed` event (instead of `onSuccess`)?"
Hello, great library, but I've been working on getting an example running inside my App.tsx and I've noticed that for some reason my "exampleJob" will always end with the `onFailed` event rather than `onSuccess`.

Here's the code...

[code]

And here's the output...

[code]

I've tried to figure out what leads to onFailed vs onSuccess but I haven't had any luck. Appreciate any advice.

[2021-10-12 18:54] adbalits commented on #83
I have done some investigation. The reason the job triggers the `onFailed` lifecycle event is because this error gets triggered during execution of the job:

[code]

Still looking into why that happens.

[2021-10-12 19:26] adbalits commented on #83
Update: it was this line in the `processJob` function of `Queue.js` that caused the runtime error which led to the `onFailed` event...

[code]

I modified my job handler to do the following:

[code]

And now the `onSuccess` lifecycle event gets triggered instead of `onFailed`.

I will leave the issue open because this should really be explained in the README.

[2022-03-04 12:08] abhishek-netizen commented on #71
Unable to install the lib @ node v16

[2022-05-03 12:49] marcos-venicius opened #86 "npm ERR! node-pre-gyp ERR!"
[code]

[code]
<h1 align="center">how i do fix it?</h1>
<br />
<br />

## I'm using the following versions
[code]

[2022-05-20 13:29] iBotPeaches commented on #62
Just to update my above comment, nothing has changed for us and we still heavily use this plugin. We've forked it and begun some QoL updates as I described for GitHub Actions, Realm update and some fixes for jest. Mainly because the Hermes move with Realm is a big component for us.

https://github.com/sourcetoad/react-native-queue

[2022-06-11 01:32] hammerstrike331 commented on #86
Please try below repo.
`npm install smaxtec/react-native-queue`

[2022-09-16 00:29] deevus commented on #62
@billmalarky This package has some great potential but needs a new maintainer. I'd be willing to submit a PR but there are currently open PRs that have presumably gone stale.

It seems as if @iBotPeaches et al could be good candidates if you were willing to give them the keys.

There are also some forks with promise such as https://github.com/inkitt/react-native-queue-asyncstorage by @inkitt which